name: Main Workflow

on:
    # Ativa esse fluxo de trabalho para cada push ou pull que acontecer apontando para a branch main
    push:
        branches: ["main"]
    pull_request:
        type: [opened, synchronize]

# Definindo o que queremos executar
jobs:
    linter:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Run Installation
              run: yarn install
            - name: Run Linter
              run: yarn lint
    preview:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Run Installation
              run: yarn install
            - name: Run Preview Deployment
              run: yarn deploy:preview
